body{
    background: linear-gradient(to right, #ff0000 0%, #0000ff 100%);

}
/* .main{
    border: 1px solid black;
    
} */
.clock{
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 40px;
    color: white;
}
